<%= form_with(model: provider, local: false) do |form| %>
  <div class="c-modal__body">
     <ul class="errors">
      </ul>

  <div class="c-field u-mb-small">
    <%= form.label :name, class: "c-field__label" %>
    <%= form.text_field :name, id: :provider_name, class: "c-input", placeholder: "Nom complet" %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :address, class: "c-field__label" %>
    <%= form.text_field :address, id: :provider_address, class: "c-input", placeholder: "Adresse" %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :city, class: "c-field__label" %>
    <%= form.text_field :city, id: :provider_city , class: "c-input", placeholder: "Ville" %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :country , class: "c-field__label" %>
    <%= form.text_field :country, id: :provider_country , class: "c-input", placeholder: "Pays"%>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :phone, class: "c-field__label" %>
    <%= form.text_field :phone, id: :provider_phone, class: "c-input", placeholder: "Téléphone" %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :email, class: "c-field__label" %>
    <%= form.text_field :email, id: :provider_email, class: "c-input", placeholder: "Email" %>
  </div>

   </div><!-- modal body -->
            <div class="c-modal__footer">
                    <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
                    <%= form.submit "Enregistrer", class: "c-btn c-btn--success",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
            </div>
<% end %>
