<%= form_with(model: user, url: create_user_path, local: false) do |f| %>

    



             <div class="c-modal__body">
                  <ul class="errors">
                                    
   
                    <% user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>

                    <div class="c-field u-mb-small">
                        <%= f.label :email, class: "c-field__label" %>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "c-input", placeholder: "E-mail" %>
                    </div>
									

                    <div class="c-field u-mb-small">
                        <%= f.label :password, class: "c-field__label" %>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %>
                        <%= f.password_field :password, autocomplete: "off", class: "c-input", placeholder: "Mot de passe" %>
                    </div>
								
                    <div class="c-field u-mb-small">
                        <%= f.label :password_confirmation, class: "c-field__label" %>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "c-input", placeholder: "Confirmation du mot de passe" %>
                    </div>
               
            </div><!-- modal body -->
            <div class="c-modal__footer">
                    <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
                    <%= f.submit "Enregistrer", class: "c-btn c-btn--success",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
            </div>


<% end %>


