<%= form_with(model: purchase_order, local: true) do |form| %>
  <% if purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
      <% purchase_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference, id: :purchase_order_reference %>
  </div>

  <div class="field">
    <%= form.label :provider_id %>
    <%= form.text_field :provider_id, id: :purchase_order_provider_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :purchase_order_status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :purchase_order_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
