<div class="o-page o-page--center">
  <div class="o-page__card">
            <div class="c-card u-mb-xsmall">
                <header class="c-card__header u-pt-large">
                   <!-- <a class="c-card__icon" href="#!">
                        <img src="images/logo-login.svg" alt="Dashboard UI Kit">
                        <img src="images/logo-login.svg" alt="Dashboard UI Kit">

                    </a>-->

                   

                    <%= link_to root_url, class: "c-card__icon" do %>
                      <%= image_tag "logo/logo-login.svg", alt: "Dashboard UI Kit" %> 
                    <% end %>

                    <h1 class="u-h3 u-text-center u-mb-zero">Welcome back! Please login.</h1>
                </header>
                
                <div class="c-card__body">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="c-field u-mb-small">
                      <%= f.label :email, class: "c-field__label" %>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "c-input", id: "input1", placeholder: "clark@dashboard.com" %>
                    </div>

                    <div class="c-field u-mb-small">
                      <%= f.label :password, class: "c-field__label"%>
                      <%= f.password_field :password, autocomplete: "current-password", class: "c-input", id: "input2", placeholder: "Numbers, Letters..." %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                      <div class="c-field u-mb-small">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end -%>

                    <div class="c-field u-mb-small">
                      <%= f.submit "Log in", class: "c-btn c-btn--info c-btn--fullwidth" %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="o-line">
                <a class="u-text-mute u-text-small" href="register.html">Don’t have an account yet? Get Started</a>
                <a class="u-text-mute u-text-small" href="forgot-password.html">Forgot Password?</a>
            </div>
    </div>

                  <%= render "users/shared/links" %>
</div>