<%= form_with(model: stock_movement, local: true) do |form| %>
  <% if stock_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_movement.errors.count, "error") %> prohibited this stock_movement from being saved:</h2>

      <ul>
      <% stock_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference, id: :stock_movement_reference %>
  </div>

  <div class="field">
    <%= form.label :movement_type_id %>
    <%= form.text_field :movement_type_id, id: :stock_movement_movement_type_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :stock_movement_status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :stock_movement_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
