<%= form_with(model: stock_movement, local: true) do |form| %>
<div class="c-modal__body">
     <ul class="errors">
      </ul>

  <div class="c-field u-mb-small">
    <%= form.label :reference, class: "c-field__label" %>
    <%= form.text_field :reference, id: :stock_movement_reference, class: "c-input", placeholder: "Description"  %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :movement_type_id, class: "c-field__label" %>
    <%= form.text_field :movement_type_id, id: :stock_movement_movement_type_id, class: "c-input", placeholder: "Description"  %>
  </div>
  <% form.fields_for :stock_movement_details do |builder| %>
      <%= render 'stock_movement_detail_fields', :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Answer", form, :stock_movement_details %></p>


   </div><!-- modal body -->
            <div class="c-modal__footer">
                    <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
                    <%= form.submit "Enregistrer", class: "c-btn c-btn--success",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
            </div>
<% end %>
