<% @unities.each do |unity| %>
    <tr class="c-table__row">
        <td class="c-table__cell"><%= unity.name %></td>
        <td class="c-table__cell"><%= unity.unity_symbol %></td>
        <td class="c-table__cell"><%= unity.description %></td>
        
        
        <td class="c-table__cell">
         <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_unity_path(unity), remote: true %>
        <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), unity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>