<%= form_with(model: customer, local: false) do |form| %>
  <div class="c-modal__body">
  
        <ul class="errors">
        </ul>
      
   

  <div class="c-field u-mb-small">
    <%= form.label :full_name , class: "c-field__label" %>
    <%= form.text_field :full_name, id: :customer_full_name, class: "c-input", placeholder: "Nom complet" %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :address, class: "c-field__label" %>
    <%= form.text_field :address, id: :customer_address, class: "c-input", placeholder: "Adresse" %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :city, class: "c-field__label" %>
    <%= form.text_field :city, id: :customer_city, class: "c-input", placeholder: "Ville" %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :country, class: "c-field__label" %>
    <%= form.text_field :country, id: :customer_country, class: "c-input", placeholder: "Pays" %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :phone, class: "c-field__label" %>
    <%= form.text_field :phone, id: :customer_phone, class: "c-input", placeholder: "Téléphone" %>
  </div>

   </div><!-- modal body -->
            <div class="c-modal__footer">
                    <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
                    <%= form.submit "Enregistrer", class: "c-btn c-btn--success",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
            </div>
<% end %>
