 <% @customers.each do |customer| %>
      <tr class="c-table__row">
        <td class="c-table__cell"><%= customer.full_name %></td>
        <td class="c-table__cell"><%= customer.address %></td>
        <td class="c-table__cell"><%= customer.city %></td>
        <td class="c-table__cell"><%= customer.country %></td>
        <td class="c-table__cell"><%= customer.phone %></td>
       
        <td class="c-table__cell">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_customer_path(customer), remote: true %>
       <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>