<%= form_with(model: product_category, local: false) do |form| %>
  <div class="c-modal__body">
  
        <ul class="errors">
        </ul>

  <div class="c-field u-mb-small">
    <%= form.label :name, class: "c-field__label" %>
    <%= form.text_field :name, id: :product_category_name , class: "c-input", placeholder: "Nom"  %>
  </div>

  <div class="c-field u-mb-small">
    <%= form.label :description , class: "c-field__label" %>
    <%= form.text_area :description, id: :product_category_description, class: "c-input", placeholder: "Description"  %>
  </div>

  
   </div><!-- modal body -->
            <div class="c-modal__footer">
                    <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
                    <%= form.submit "Enregistrer", class: "c-btn c-btn--success",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
            </div>
<% end %>
