<%= form_with(model: deposit, local: false) do |form| %>
   <div class="c-modal__body">
  
        <ul class="errors">
        </ul>

      
      <div class="c-field u-mb-small">
        <%= form.label :name, class: "c-field__label" %>
        <%= form.text_field :name, id: :deposit_name, class: "c-input", placeholder: "Nom"  %>
      </div>

    <div class="c-field u-mb-small">
      <%= form.label :address, class: "c-field__label" %>
      <%= form.text_field :address, id: :deposit_address, class: "c-input", placeholder: "Adresse"  %>
    </div>

  <div class="c-field u-mb-small">
    <%= form.label :description , class: "c-field__label" %>
    <%= form.text_area :description, id: :deposit_description, class: "c-input", placeholder: "Description"  %>
  </div>

  
</div><!-- modal body -->
            <div class="c-modal__footer">
                    <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
                    <%= form.submit "Enregistrer", class: "c-btn c-btn--success",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
            </div>
<% end %>
