<% @products.each do |product| %>
      <tr class="c-table__row">
        <td class="c-table__cell "><%= product.name %></td>
        <td class="c-table__cell "><%= unity_to_name(product.unity_id) %></td>
        <td class="c-table__cell "><%= product.unit_price %></td>
        <td class="c-table__cell "><%= deposit_to_name(product.deposit_id) %></td>
        <td class="c-table__cell "><%= product_category_to_name(product.product_category_id) %></td>
        <td class="c-table__cell "><%= product.reorder_threshold %></td>
        
        <td class="c-table__cell ">
         <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_product_path(product), remote: true %>
        <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>