<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title><%= "CONFIGURATION" %></title>
=======
    <title>Gessys</title>
>>>>>>> 48238445d4ca67f96f5805c6a30dee3fcf930c08
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
