<!DOCTYPE html>
<html>
	<head>

		
			<title><%= "Tableau de bord " %></title>
	
			
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div class="o-page">
		<%= render :partial => 'layouts/partials/flash_messages', :flash => flash %>
	
		<!-- Left Sidebar -->
	  <%= render('layouts/partials/dashboard/sidebar') %>
	   <!-- End Left sidebar -->

<main class="o-page__content">
 <%= render('layouts/partials/dashboard/navbar') %>
				
	    <%= yield %>
	 
 </main><!-- // .o-page__content -->
	  
 	</div><!-- /.content-wrapper -->

	</div><!-- ./wrapper -->
  </body>
</html>
